<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            th, td {
                padding-right: 30px;
            }
        </style>
        <script type="application/javascript">
                function ip_search() {
                    const ip = document.getElementById("ipfield").value;
                    window.location.href = "/" + ip;
                }

                function keyup(event) {
                    if (event.key === "Enter") {
                        submit()
                    }
                }
        </script>
    </head>
    <body>
        <label for="ipfield">IP address:</label>
        <input id="ipfield" onkeyup="keyup(event)" value="{{ ip or '' }}">
        <button type="button" onclick="ip_search()">Lookup</button>
        <br>
        Ports: <a href="/switches">Browse</a>
        {% if history is defined and not history %}
            <h2>No results found</h2>
        {% endif %}
        {% if history %}
            <h2>IP history</h2>
            <table>
                <tr>
                    <th>IP</th>
                    <th>First seen</th>
                    <th>Last renew</th>
                    <th>Switch</th>
                    <th>Port</th>
                    <th>MAC</th>
                </tr>
                {% for row in history %}
                <tr>
                    <td>{{ row.ip }}</td>
                    <td>{{ row.first_seen | format_date }}</td>
                    <td>{{ row.last_seen | format_date }}</td>
                    <td>{{ row.sw }}</td>
                    <td>{{ row.port }}</td>
                    <td>{{ row.mac }}</td>
                </tr>
                {% endfor %}
            </table>

            {% if history | length == limit %}
            Limit of {{ limit }} entries reached
            {% endif %}
        {% endif %}
    </body>
</html>
