<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        th, td {
            padding-right: 30px;
        }
    </style>
</head>
<body>
    <h2>{{ hostname }} {{ port }} [ {{ location | loc2addr }} {{ ifalias }} ]</h2>
    <table>
        <tr>
            <th>MAC</th>
            <th>MAC First seen</th>
            <th>MAC Last seen</th>
            <th>Lease</th>
            <th>Valid from</th>
            <th>Valid until</th>
        </tr>
        {% if history is defined and not history %}
            <h2>No results found</h2>
        {% endif %}
        {% if history %}
            {% for row in history %}
                <tr>
                    <td><span title="{{ row.mac | mac_search }}">{{ row.mac }}</span></td>
                    <td>{{ row.mac_first_seen | format_date }}</td>
                    <td>{{ row.mac_last_seen | format_date }}</td>
                    <td>{% if row.ip %}{{ row.ip }}{% endif %}</td>
                    <td>{{ row.lease_first_seen | format_date}}</td>
                    <td>{{ row.valid_until | format_date}}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</body>
</html>
